@import "~bootstrap/scss/bootstrap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .App {
    height: 100%;
}

html {
    font-size: 62.5%;
}

.App {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;

    & > .content {
        flex: 1;
        margin-top: 2rem;
    }
}
